rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contactForms/{formId} {
      allow create: if true;
      allow read: if false;
      allow update, delete: if false;
    }
  }
}
